/*

############################################################
Designed and Developed by Srivatsan Sk
############################################################
This is in regards to Energy Club of EEC & as a project to my portfolio...
############################################################

Hope you like my work, contact me for anything :) 

############################################################
Energy Club Website : https://energyclubeec.org.in/

############################################################
Last Updated : November 5th  2023

  */


@import url("https://fonts.googleapis.com/css?family=Outfit:300,400,200");

* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-color: #ffffff;
  --nav-text: #000000;
  --text-color: #000000;
  --text-custom: #32c36c;
  --card-color: #ffffff;
  --border-color: #ffffff;
  --bg-color: #ffffff;
  --our-team:#32c36c;
  --error-bg:#ececec;
}
/* Dark Mode */

[theme="dark"] {
  --nav-color: #090909;
  --nav-text: #32c36c;
  --text-color: #ffffff;
  --text-custom: #32c36c;
  --card-color: #090909;
  --border-color: #4f4e51;
  --bg-color: #000000;
  --our-team:#090909;
  --error-bg:#1f1f1f;
}
body {
  font-family: "Outfit";
  background-color: var(--bg-color);
}
html {
  scroll-behavior: smooth;
}

p {
  color: var(--text-color);
}
.navbar-custom,
.nav-link,
.navbar-brand {
  color: var(--nav-text);
  transition: all 300ms ease;
}

.text-custom {
  color: var(--text-custom);
}

.btn-custom {
  background-color: #21d192;
  color: #ffffff;
}
.btn-custom:hover {
  background-color: #32c36c;
  color: #ffffff;
}
/* Animation */
.ani {
  position: center;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 15%;
}

/* Navbar - Desktop */
.navbar-custom {
  background-color: var(--nav-color);
  color: var(--nav-text);
}
.text-color {
  color: var(--text-color);
}

nav {
  justify-content: space-around;
  height: 12vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

nav li:last-child {
  width: max-content;
  display: flex;
  margin: auto;
  padding: 10px;
}
a {
  color: var(--text-color);
  text-decoration: none;
  text-decoration-color: var(--border-color);
}

nav a {
  color: var(--nav-text);
  text-decoration: none;
  text-decoration-color: var(--border-color);
}
nav a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: var(--nav-text);
  text-decoration-color: var(--border-color);
}

/* Icons */
.icon {
  cursor: pointer;
  height: 2rem;
  top: -4px;
  position: relative;
}
/* carousel */
.carousel {
  position: relative;
  width: 80%;
  left: 10%;
}
.carousel-inner {
  border-radius: 25px;
}

/* Border custom */
.border-custom {
  border-color: var(--border-color);
}
.bg-custom {
  background-color: var(--card-color);
}

.font-size {
  padding-left: 15px;
  padding-right: 15px;
}

.mobile {
  display: none;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 1.5rem;
  }
   .ani {
    width: 50px;
    height: 50px;
    margin-top: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .carousel {
    position: relative;
    width: 100%;
    left: 0%;
  }
  .carousel-inner {
    border-radius: 0px;
  }
  .mobile {
    display: block;
  }

  .desk_vm {
    display: none;
  }
  .logos {
    margin: auto;
  }

  .card {
    margin-top: 15px;
    margin-bottom: 15px;
    left: 0px;
  }
}
